@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: var(--gray-100);
  font-family: "Roboto Mono", monospace;
}

:root {

  /* red */
  --red-900: #B10000;
  --red-800: #C01A1A;
  --red-700: #CF3333;
  --red-600: #DE4D4D;
  --red-500: #ED6666;
  --red-400: #F47F7F;
  --red-300: #F99797;
  --red-200: #FDB0B0;
  --red-100: #FFD8D8;


  /* gray */
  --gray-900: #1F1F1F;
  --gray-800: #333333;
  --gray-700: #4D4D4D;
  --gray-600: #666666;
  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #B3B3B3;
  --gray-200: #CCCCCC;
  --gray-100: #E6E6E6;

  --text-description: 1.25rem;
  --text-title: 2rem;
}

nav {
  transition: background-color 0.5s ease;
}


.list {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  /* background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff); */
  background: var(--red-800);
  background-size: 200% auto;
  transition: all .5s;
  transform: translateX(-100%);
}

.list:hover::after {
  transform: translateX(0%);
  animation: gradient-89 3s linear infinite;
}

@keyframes gradient-89 {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.active-link {
  color: var(--red-800) !important;
}

.active-link::after {
  transform: translateX(0) !important;
}



/* shadow */
.sd {
  box-shadow: rgba(0, 0, 0, 0.2) 9.95px 9.95px 1.6px;
}