@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  /* background-color: var(--gray-100); */
  font-family: "Roboto Mono", monospace;
}

:root {

  /* red */
  --red-900: #B10000;
  --red-800: #C01A1A;
  --red-700: #CF3333;
  --red-600: #DE4D4D;
  --red-500: #ED6666;
  --red-400: #F47F7F;
  --red-300: #F99797;
  --red-200: #FDB0B0;
  --red-100: #FFD8D8;


  /* gray */
  --gray-900: #1F1F1F;
  --gray-800: #333333;
  --gray-700: #4D4D4D;
  --gray-600: #666666;
  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #B3B3B3;
  --gray-200: #CCCCCC;
  --gray-100: #f3f4f6;

  --text-description: 1.25rem;
  --text-title: 1.7rem;
}
.page{
  padding:7rem 2.5rem;
}

nav {
  transition: background-color 0.5s ease;
}

/* menu navbar */
.list {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  /* background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff); */
  background: var(--red-800);
  background-size: 200% auto;
  transition: all .5s;
  transform: translateX(-100%);
}

.list:hover::after {
  transform: translateX(0%);
  animation: gradient-89 3s linear infinite;
}

@keyframes gradient-89 {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}


/* router */
.active-link {
  color: var(--red-800) !important;
}

.active-link::after {
  transform: translateX(0) !important;
}



/* shadow */
.sd {
  box-shadow: rgba(0, 0, 0, 0.2) 9.95px 9.95px 1.6px;
}

/* login and sign up */
.h1 {
  font-weight: bold;
  font-size: var(--text-title);
  margin: 0;
}

.h2 {
  text-align: center;
}

.p {
  font-weight: 100;
  line-height: 30px;
  margin: 10px 0 30px;
  font-size: var(--text-description);
}

.span {
  font-size: 16px;
}

.a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid var(--red-800);
  background-color: var(--red-800);
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 45px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  font-size: 16px;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  
}
.input:focus {
  outline: 2px solid var(--gray-200);

}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
  margin: auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--red-800);
  background: -webkit-linear-gradient(to right, var(--red-700), var(--red-800));
  background: linear-gradient(to right, var(--red-700), var(--red-800));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.footer .p {
  margin: 10px 0;
}

.footer i {
  color: red;
}

.footer .a {
  color: #3c97bf;
  text-decoration: none;
}